@page 
@model AppointmentSchedule.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>My Appointments</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New Appointments</a>
</p>
<table class="table table-responsive table-borderless">
    <thead>
        <tr class="bg-light">
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> 
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.ID">Details</a> 
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
